<div class="container text-center">
<h2>Questions#ask</h2>
  <div class="info">Ask your coach anything:
  <form class="form-inline ask" action="\answer">
    <input class="form-control col-6 textarea" type="text" name="question">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </form>
  </div>
</div>
